body{
    background-color :#222f36;
}

header{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #e6d1ff;
    padding: 10px;
    overflow: hidden;      
}

header h1{
    width: 40%;
    float: left;
    color: #ffffff;
    font-size: 10px;
}

p{
    line-height: 20px;
}

section{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #ffffff;
    padding: 5px;
    background-color: #aae0ea;
}

footer{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: #ffffff;
    color: #00baff;
    text-align: center;
}


a{
    text-decoration: none;
    color: black;
}

nav ul li{
    display: inline;
    float: left;
    margin: 15px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    
