body{
    background-color :#ffffff;
    margin: 0 auto;
    padding: 0;
}

header{
    width: 100%;
    margin-right: 0 auto;
    margin-left: 0 auto;
    background-color: #8697c3;
    overflow: hidden;      
}


header h1{
    width: 30%;
    float: left;
    color: #ffffff;
    padding: 10px 10px 10px 200px;
    }



p{
    line-height: 10px;
}

main{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.footer-container{
    display: block;
    margin: 0px auto;
    width:100%;
    padding: 20px 30px;
    background:#9dafdb;
    color:#fff;
    text-align: center;
}
.footer-container p{
    padding:0;
    margin:0;
}


nav ul li{
    display: inline;
    float: left;
    margin: 40px 0px 0px 0px;
}


nav ul li a{
    color : antiquewhite;
    text-decoration: none;
     display: block;
    padding:5em 2em 1em 2em;
    text-decoration: none;
    }

nav ul li a:hover{
    background-color:#647aaf;
    color :cornflowerblue;
}

.main-container{
    overflow: hidden;
    padding 0 0 40px 0;
    width:100%;
    margin: 0 auto;
}

.sidebar{
    float:left;
    margin: 0px 0 0 60px;
    padding: 30px 0 30px 0;
    width: 300px;
}

.sidebar ul{
    padding:0;
}
.sidebar li{    
    text-align: left;
    border-bottom: 2px solid;
    color: darkslateblue;
    list-style: none;
    width:70%;

}

.sidebar li:last-child{
    border-bottom: 0px solid;
}

.sidebar li a{
    display: block;
    padding:10px 20px;
    text-decoration: none;
    color:cornflowerblue;
}

.sidebar li a:hover{
    color:darkslateblue;
}
.sidebar li .current{
    color:darkslateblue;
}

.maincol{
    float:right;
    margin: 0 200px 0 0;
    padding: 30px 0px 50px 0px;
    width:950px
}

.maincol-container{
 margin-left: 0px;
}

@font-face{
    font-family: SuncheonR;
    src: url('SuncheonR.ttf');
    font-weight: normal;
}

header{
    font-family: SuncheonR;
}

body{
    font-family: SuncheonR;
}

